@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #2199df;
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin-top: 1em;
    margin-bottom: 1em;
}


/* general */

body {
    font-family: "Roboto", sans-serif;
}

.page {
    padding: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}


/* header */

#header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e02525;
}

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: #ffffff;
}

#header .auth-options {
    height: 100%;
    display: flex;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: #b91b1b;
    color: #ffffff;
    font-size: 1.1rem;
}

#header .auth-options button:hover {
    background-color: #be3a3a;
}


/* form */

.form label,
.form input {
    display: block;
}

.form input {
    margin-bottom: 1rem;
}

.form label {
    margin-bottom: 0.2rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    background-color: #f0f0f0;
    font-size: 1.1rem;
}

.form input:focus {
    border: 1px solid #50a4e9;
    box-shadow: inset 0px 0px 5px rgba(38, 142, 228, 0.5);
    outline: none;
}


/* .form input[type="submit"] {
    padding: 0.3rem 0.5rem;
    border: 1px solid #6aa051;
    border-radius: 8px;
    background-color: #c8ecb7;
    font-size: 1.1rem;
} */


/* todo list */

.todo-list ul {
    list-style: disc;
    cursor: pointer;
}

.todo-list li:hover {
    text-decoration: line-through;
}


/* error notice */

.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
}

.error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #df4343;
    color: #ffffff;
}


/* media queries */

@media screen and (max-width: 550px) {
    #header .title {
        font-size: 1.2rem;
    }
    #header .auth-options button {
        padding: 0 0.5rem;
        font-size: 0.9rem;
    }
}


/* ************************ */


/* ****** Login Page ****** */


/* ************************ */

.login-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-family: Freckle Face;
    overflow: hidden;
}

.rectangle {
    position: absolute;
    overflow: hidden;
    width: 564px;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: linear-gradient(90deg, #431269 0%, rgba(88, 31, 163, 0.835831) 30.48%, rgba(83, 33, 175, 0.65) 64.98%, rgba(120, 71, 211, 0.65) 91.47%);
}

.rectangle img {
    position: absolute;
    left: 4.03%;
    right: 70.02%;
    top: 25.71%;
    bottom: 27.33%;
    filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.7));
    transform: rotate(-12.94deg);
}

#nav .text {
    position: absolute;
    width: 491.02px;
    height: 82.48px;
    left: 43px;
    top: 360.31px;
    font-family: Freckle Face;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 98px;
    color: #FFFFFF;
    text-shadow: 8px 8px 10px #000000;
    transform: rotate(-22.75deg);
}

.login {
    display: inline-block;
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.form {
    width: 30%;
    height: 100vh;
    left: 300px;
    position: relative;
    margin: auto;
}

.avatar {
    display: inline-block;
    position: absolute;
    width: 118px;
    height: 118px;
    background-color: #fff;
    border-radius: 100%;
    margin: auto;
    right: 550px;
    top: 195px;
}

form input {
    position: relative;
    width: 100px;
    height: 50px;
    top: 350px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
    border: 2px solid #6441A5;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Freckle Face;
}

.form label {
    position: relative;
    width: 500px;
    height: 50px;
    top: 350px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Freckle Face;
}

.form .login-btn {
    width: 100%;
    background-color: #6441A5;
    color: #fff;
}

.join a {
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
    bottom: 100px;
    right: 400px;
    left: 0px;
    position: absolute;
}

.join:hover {
    color: #431269;
    cursor: pointer;
}

.splash {
    position: absolute;
    left: 40.64%;
    right: 38.26%;
    top: 0;
    bottom: 86.44%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.splash2 {
    position: absolute;
    right: -1.95%;
    top: 63.31%;
    bottom: 1.19%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    transform: rotate(-12.94deg);
}